﻿li {
	list-style: none;
	display: inline-block;	
}

html, body {
	height: 100%;
	
}	
a {
	
      text-decoration: none;
}

a:hover{
	 text-decoration: underline;	

}
header  a, header  span{
     color: white; /* color de text */
	 font-size: small;  /* size de text */
	 font-family: arial;
	 margin: 0 15px;
}	
body {
	 background-color: white;
	 margin: 0px;
	 padding: 0px ;
	 background-image: url(../images/bg.jpeg);
	 background-repeat: no-repeat;
	 background-size: cover;
}


	
body.bg01 {
	 background-image: url(../images/pic01.jpg);
}	 
body.bg02 {
	 background-image: url(../images/pic2.jpg);
}	 
body.bg03 {
	 background-image: url(../images/pic3.jpg);
}	 
body.bg04 {
	 background-image: url(../images/pic4.jpg);
}	 
body.bg05 {
	 background-image: url(../images/pic5.jpg);
}	 
header, section{
	width: 80%; /*misa7at lheader */
	margin: 0 auto;   /* header fel wost de page */
	overflow: hidden;
	
}
body.white-bg{
	background: #fbfbfb;
	
}
body.white-bg div#logo{
	background-image: url(../images/i26.png);
	
	
}
body.white-bg form {
    border: 1px solid #ccc;
    box-shadow: 0px 0px 5px 1px #bdbdbd; 
   
	
}	
body.white-bg section {
    padding-bottom: 30px ;
    padding-left: 13% ;
	
}	
body.white-bg header a, body.white-bg header span {
   color: black ;
	
}
	body.white-bg ul#info {
    display: none;

}
body.white-bg ul#setting  {
    display: none;

}
header {
	overflow: visible;   /****l3aks dial hidden***/
}
header::after {
	clear: both;
	display: block;
	content: "";
	
	
}
ul#menu-right{
	float: right;
	
}

ul#menu-left{
	float: left;
	margin-left: 0;
	padding-left: 0;

}	

li#elemt-first a{
      margin-left: 0;	

}	
	
div#logo	{
	width: 132px;
	height: 52px;
	background-image: url(../images/hpc.png);
	display: inline-block;
	vertical-align: top;
	text-indent: -9999px;
	
}
form {

	background : white;
    display: inline-block;
	vertical-align: top;
	border-radius: 5px;
}	

input[type="text"]{
    font-size: 18px;
	border: none;
	padding: 15px 10px;
	margin: 1px 0;
    outline: none;
	width:400px;
}

section{
	margin-top: 150px;
	
}
	
footer {
	background:#333; 
	color: #666;
	position: fixed;
	bottom: 0px;
	left: 0px;
	width: 100%;
}	

footer a {
	color: #666a;
	margin-right: 20px;
   

}
ul#info {	
  position: absolute;
  top: -60px;
  right: 180px;
 
  
  
}

ul#info li{
     background:#333;
     padding: 5px 9px;
     color: white;
	 vertical-align:top;
	opacity:0.5;/*xafafiya*/
	 
    
     
}
footer p{
	 float: right;
	 margin-right: 50px;
}

footer nav{
	 display: inline-block;

}

footer a, footer p{
	font-family: Tahoma,Arial;
     font-size: 14px;
     

}

footer a:hover{
     color: #a2a2a2;
	 text-decoration: inderline;
}

footer p, footer ul{
	 margin-top: 10px;
     margin-bottom: 10px; 
     
}
input[type="submit"] {
	 width: 45px;
     height: 45px;
     background-color: Transparent;
     border: none;
     text-indent: -9999px;
	 background-image: url(../images/hpc.png);
	 background-position: -162px -57px;
	  
}
a#menu {
	width: 32px;
	height: 32px;
	display: inline-block;
	text-indent: -9999px;
	background-image: url(../images/hpc.png);
	background-position: -162px 74px;
	
	
}	

ul#menu-right span{
	width:32px;
	height:32px;/*appliquer seulement pour les inline-block et les inlines*/
	display:inline-block;
	text-indent:-9999px;
	background-image:url(../images/hpc.png);
	background-position: -11px -150px;
	vertical-align:top;
	background-color:white;
	border-radius:16px; /*1*/
	position:relative;/*2 pour mettre en haut*/
	top:-6px;
	
}
ul#info li:nth-child(1){
	width:40px;
	height:40px;
	padding:0;
	background-image:url(../images/hpc.png);
    background-position: -123px -57px;/*prend la valeur de x et de y*/
	text-indent: -9999px;
	opacity:0.5;/*xafafiya*/
	
}
ul#info li:nth-child(2){
	width:40px;
	height:40px;
	padding:0;
	background-image:url(../images/hpc.png);
    background-position: -84px -57px;/*prend la valeur de x et de y*/
	text-indent: -9999px;	
	opacity:0.5/*xafafiya*/
}
ul#info span{
	width:40px;
	height:30px;
	display:inline-block;
	vertical-align:top;
	background-image:url(../images/hpc.png);
	background-position: -87px 118px;
}
ul#info p{
	margin:5px 12px 0 0;
	font-size:13px;
	color: #d6d1d1;
	opacity:0.5px/*xafafiya*/
	}
form img{
    width: 30px;
    position: relative;
    top: 8px;
	    filter: grayscale(1) brightness(1.4);/*kan remdo image*//*briyau color claire*/
		cursor:pointer;/*souris kadetbel n l yad*/
}




li.office-menu {
	
	position: relative;
	
}	

ul.icons-menu {
	position: absolute;
	background-color: #0c0c0c8f;
	margin: 0;
	padding: 10px 5px;
	top: 30px;
	width: 32px;
	width: 280px;
	display: none;
}

ul.icons-menu  li{
	display: inline-block;
	width:32%;
	vertical-align: top;
	margin-bottom: 25px;

}

ul.icons-menu span{
    display: block;
    height: 48px;
	width:48px;
	background: url(../images/icon.png);
	margin: 0 auto;
}

ul.icons-menu a{
	display: block;
	text-align: center;
	
	

}

li#menu-Setting{
	
	position: relative;
	
}	
ul.setting {
	display: block;
    position: absolute;
	margin: 0;
	padding: 10px 5px;
	width: 330px;
	background:white;
	right: 0;
	display: none;
    
}
ul.setting  a{
	color: #333333;
	display: block;
	padding: 6px 0px;
	margin: 0;
}

ul.setting li{
	display: block;
	vertical-align: top;
	margin-bottom: 15px;

}
li#menu-Setting span{
	 
	background: url(../images/icons.png);
	background-position: 0px 0px;
	Background-size: 210px 16px;
	width: 16px;
	height: 16px;
	border-radius: 0;
	background-color: transparent;
	top: -3px;
	
	
}

li#menu-Setting li:nth-child(2) span{
	background-position:-18px 0;
}
li#menu-Setting li:nth-child(3) span{
	background-position:-54px 0;


}
li#menu-Setting li:nth-child(4) span{
	background-position:-194px 0;


}
li#menu-Setting li:nth-child(5) span{
	background-position:-335px 0;


}
li#menu-Setting li:nth-child(6) span{
	background-position:-72px 0;


}
li#menu-Setting li:nth-child(7) span{
	background-position:-88px 0;
	
}	
	
li#menu-Setting li:nth-child(8) span{
	background-position:-108px 0;


}
li.office-menu:hover ul.icons-menu{
	  display: block; 
	
}		
ul.icons-menu li:nth-child(1) span{
	background-position: -3px 0 ;	
		
}	
	
ul.icons-menu li:nth-child(2) span{
	background-position:-535px 0;
	
}	
ul.icons-menu li:nth-child(3) span{
	background-position: -100px 0
	
}	
ul.icons-menu li:nth-child(4) span{
	background-position: -194px 0	
	
}		

ul.icons-menu li:nth-child(5) span{
	background-position: 98px 0;	
	
}	

ul.icons-menu li:nth-child(6) span{
	background-position: -633px 0;	
	
}	
ul.icons-menu li:nth-child(7) span{
	background-position: -315px 0;
	
}	

ul.icons-menu li:nth-child(8) span{
	background-position: -350px 0;
	
}	

li.setting-3> a:after {
	display: block;
	content: "";
	width: 18px;
    height: 8px;
	float: right;
    background-image: url(../images/icons.png);
    background-position:32px 0px;
	background-size:210px 16px;
	 margin-top: 5px;
}	
	

ul.buttons a:after {
	display: block;
	content: "";
	width: 38px;
    height: 16px;
	float: right;
    background-image: url(../images/buttons.png);
    background-position:0px -16px;
	 margin-top: 5px;
	 
}	

ul.menu-3 {
	margin-left: 50px;
	display: none;
	
	


}
li.open ul.menu-3  {
	display: block;
	

}
li.setting-3.open> a::after {
     background-position:32px -8px;


}

ul.buttons a.btn-open::after {
	 background-position:0px 0px;



}

.hide  {
	 visibility:hidden;



}


