/**glopale styles****/
body {
   direction: rtl; /* tijah dyl text dem arbiya men yamin nel yassar */
}
ul,p,body { /*nziwlo espace del browser likay3tih nel tag "p" o nel tag "ul" */
   
   margin: 0;
   padding: 0;

}
ul {
	list-style: none;
}
a {

   text-decoration: none; /* nziwlo et 5at lita1t les liens aw rawabit kamlin **/
   
}

/** header styles********/

 header nav {	
 float: left;
} 
header li{
	display: inline-block;
	padding: 22px 40px; /* misa7a da5iliya nel header 30 men fo9 wa ta7t o 40 */
}
header {
	padding: 30px 40px;
}	
header a  {
	color: grey;
	font-size: 17px;
	font-weight: bold;
	
}	
















