a 
    {color:#5a5a5a;
  text-decoration: none;

}
a:hover{
	text-decoration: underline;
	
}	
body {
	font-family: arial;
	font-size: 13px;
	margin: 0px;
}	

ul {
	list-style: none;
}	
li {
	display: inline-block;
}
header {
     text-align: right;
     margin-top: 20px;
     margin-right: 20px;
  
} 
header li {
	margin: 0 5px;	
}	



li#btn-sign a {
	font-weight: bold;
	background-color: #4285f4;
    color: #ffffff; 
    padding: 6px 11px;	
}

li#icon  img { 
   width: 20px;
   height: 20px;
   position: relative;
   top: 4px;
   opacity: 0.60;
   
} 
li#icon  img:hover { 
   opacity: 1;
   
}

section  { 
    text-align: center;
	margin-top: 150px;
	
}

input[type="text"]{
	margin-top: 20px;
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 700px;
	padding: 10px;
	margin-bottom: 20px;
	border: 1px solid #e4e4e4;
	border-radius: 3px;
	box-shadow: 2px 3px 4px grey;
	
}	
input[type="submit"]{
   background: #e8e8e8;
   padding: 10px;
   font-weight: bold;
   color: #757575;
   margin: 14px 4px;
   border: 1px solid #efefef;
}   

input[type="submit"]:hover  {
	color: #3c3c3c;
	border: 1px solid #e8e8e8;
	box-shadow: 0px 1px 3px #bdbdbd;

}
.Ing {
	color: #1a0dab;
	Margin: 3px;
	

}

footer {
	color: grey;
	background: #f2f2f2;


}

footer nav {
	border-top: 1px solid #d8d8d8;
	font-size: 13px;
	padding: 10px 29px;
}

footer ul , footer p {
	margin: 0;
	padding: 0;

}
ul#yassar {
	float: left;
		
}

ul#yamine  {
      float: right;
		

}

footer nav 	{
	overflow:  hidden;
	
}
/* 	
footer ul	{

 display: inline-block;
 width: 49%;


} */

footer li	{
	margin: 0 3px;


}
footer {
	position : fixed ;
	bottom: 0;
	left: 0;
	width: 100%;
	
}

section span  {
	background: url(../images/microvoice.png);
	background-size: 23px 23px;
    width: 25px;
	height: 25px;
	display: inline-block; 
	position: absolute;
    right: 2px;	
	top: 6px;
	
}
	
div 	 {
	width: 710px;
	margin: 0 auto;
	position: relative;
	
}






	
	

