/** Global Styles ***/
body {
    direction: rtl;	/* tijiah dyal text bel 3arbiya men yamin nel yassar */
}

html {
	
	scroll-behavior: smooth; /* 3inda daght ala rabit sowar tantaqil bexakl bati2 3amodi*/
}	
ul, p, body {	/* nziwlo espace dyal browser likayi3tih nel tag "p" o nel tag "ul" */
    margin: 0;
    padding: 0;
}
ul {
    list-style: none;	/* nziwlo n9at ko7al dyal les liste */
}
a {
    text-decoration: none;	/* nziwlo el 5at lita7t les lienes aw rawabit kamlin */
}

/*** Header Styles ********/
header ul {
    float: left;	/* rawabit yemchiw nel yassar */
}
header li {
    display: inline-block;	/* rawabit fe satr wa7id */
	padding: 22px 20px;	/* misa7a da5iliya dyal liste */
}
header {
    padding: 30px 40px;	/* misa7a da5iliya nel header 30 men fo9 wa ta7t o 40 men yamin wa yassar */
}
header a {
    color: gray;	/* lawn dyal rawabit dyal header */
    font-size: 17px;	/* 7ajm el khat dyal tawabit dyal header */
    font-weight: bold;	/* wazn el 5at */
      

}
 
section#majmo3a-logos li:nth-child(5){
  border-left: none;
}
section#majmo3a-logos li:nth-child(10){
  border-left: none;
}
section#majmo3a-logos li:nth-child(15){
  border-bottom: none;
}
section#majmo3a-logos li:nth-child(11){
  border-bottom: none;
  
}  
section#majmo3a-logos li:nth-child(12){
  border-bottom: none;
}  
section#majmo3a-logos li:nth-child(13){
  border-bottom: none;
}  
section#majmo3a-logos li:nth-child(14){
  border-bottom: none;
}   

div.logos-bzoj {
	height: 230px;
	position: relative;
	
}	
.logos-bzoj div {
	position: absolute;
	top: 0;
    right: 0;
    width: 100%;
	height: 100%;
	text-align: center;
	
}
section#majmo3a-logos {
	overflow: hidden;
	background:url(../img/Nat-Geo-Wild.jpg);
	background-size: cover;
	background-position: 
}
section#majmo3a-logos li {
   float: right;  /* fe star wa7ed */
   width: 20%;   /* bach ikono 5 fe star wa7ed 100/5 = 20 */
   box-sizing: border-box; /* bach el border yetzado men dakhel dyal misa7a */
   border-left : 1px dashed #f05123; /* border dyal logoos */
   border-bottom : 1px dashed #f05123; /* border dyal logoos */
   background-color: rgba(255,255,255,0.4);
}   
div.logos-bzoj img {  /*  n3awto el image fe lwest dyal div li3ando class logo-bzoj */
	transform: translateY(-50%);
    top: 50%;
    position: relative;

}

section#majmo3a-logos li:nth-child(2n){   /*  */
       background-color: rgba(255,255,255,0.5);   /*  (0.5) = bach yekono lmoraba3at fhal domino */


}

div.logo-color{ 
     transform: rotateY(180deg);
     backface-visibility: hidden;
	 background: white;
	 transition: 1s;
	 
}
div.logo-k7al-byad{ 
     backface-visibility: hidden;

}

div.logos-bzoj:hover div.logo-color{
      transform: rotateY(0deg);
       transition: 1s;
	
	   
}


div.logos-bzoj:hover div.logo-k7al-byad{
      transform: rotateY(180deg);
       transition: 1s;
	  
	  
}	  
	  
	  


/***********************style sctions tv*****/
section.ma3lomatTv {
      width: 1400px;  /* jiha de lyemin */
      margin: 0 auto;
	  
}	  
img.mota7arika { 
	 position: absolute;
	 top: 100px;
	 right: -178px; 
	 
	 
}	
div.textInfo {
     
	  width: 24%;
	  display: inline-block;
	  vertical-align: top;
	  margin-right: 13%;
	  
	  
	  
}	 
div.imgInfo {
      width: 42%;
	  display: inline-block;
	  vertical-align: top;
	  position: relative;
	  margin-right: 18%;
} 
	

.textInfo  p {	 
	 
	 font-size: 18px; 
	 line-height: 29px;
	 margin-top: 30px;
	 
}	 
	 
.textInfo  img {	 
	 margin-top: 100px;
	 max-width: 170px;
}	 

/****************section text fe chemal*********************/

.textYassar img.mota7arika {
	right: 178px;

}

.textYassar div.imgInfo {
	margin-right: 0;

}


footer  p {
	text-align: center;
	font-weight: bold;
    color: gray;
    margin-top: 30px;
    margin-bottom: 10px;
    font-size: 14px;

}


/*************************general Tables Styles *********************************/
@media all and (max-width: 1024px) {
	section.ma3lomatTv {
		  width: 100%; 
		 
	}
	
	div.TextInfo{
			 margin-right: 5%;
	}

		 div.imgInfo {
			 
			margin-right: 26%;
	}
	
	.imgInfo  img{
			 
			width: 100%; 
	}

	.textYassar div.textInfo {
					 margin-right: 25%;
	}
	
	a.icon-ramadiya-top {
					 display: none;
	}	
	img.mota7arika {
		top: 50%;
		right: 0;
		transform:translateY(-50%);
		
	}	
}	
/*************************General Mobile styles **********************************/
@media all and (max-width: 990px){
	

    }
 }
/*#majmo3a-logos {
	overflow: hidden;
}
#majmo3a-logos li {
	display: block;
	float: right;
	width: 20%;
	border-right: dashed 1px #f05123;
	border-bottom: dashed 1px #f05123;
	box-sizing: border-box;
}
#majmo3a-logos li:nth-child(2n+2) {
	background: rgba(255,255,255,0.4);
}
#majmo3a-logos li a {
	display: block;
	height: 100%;
	width: 100%;
	position: relative;
}
#majmo3a-logos li a img {
	width: auto;
	height: auto;
	display: inline-block;
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}
.logos-bzoj {
	position: relative;
	height: 230px;
}
.logos-bzoj div {
	position: absolute;
	top: 0;
	right: 0;
	width: 100%;
	height: 100%;
	text-align: center;
} */