/** Global Styles ***/
body {
    direction: rtl;	/* tijiah dyal text bel 3arbiya men yamin nel yassar */
}
html {
  scroll-behavior: smooth;
}
ul, p, body {	/* nziwlo espace dyal browser likayi3tih nel tag "p" o nel tag "ul" */
    margin: 0;
    padding: 0;
}
ul {
    list-style: none;	/* nziwlo n9at ko7al dyal les liste */
}
a {
    text-decoration: none;	/* nziwlo el 5at lita7t les lienes aw rawabit kamlin */
}

/*** Header Styles ********/
header ul {
    float: left;	/* rawabit yemchiw nel yassar */
}
header li {
    display: inline-block;	/* rawabit fe satr wa7id */
	padding: 22px 20px;	/* misa7a da5iliya dyal liste */
}
header {
    padding: 30px 40px;	/* misa7a da5iliya nel header 30 men fo9 wa ta7t o 40 men yamin wa yassar */
}
header a {
    color: gray;	/* lawn dyal rawabit dyal header */
    font-size: 17px;	/* 7ajm el khat dyal tawabit dyal header */
    font-weight: bold;	/* wazn el 5at */
}
/* #majmo3a-logos {
	overflow: hidden;
}
#majmo3a-logos li {
	display: block;
	float: right;
	width: 20%;
	border-right: dashed 1px #f05123;
	border-bottom: dashed 1px #f05123;
	box-sizing: border-box;
}
#majmo3a-logos li:nth-child(2n+2) {
	background: rgba(255,255,255,0.4);
}
#majmo3a-logos li a {
	display: block;
	height: 100%;
	width: 100%;
	position: relative;
}
#majmo3a-logos li a img {
	width: auto;
	height: auto;
	display: inline-block;
	position: relative;
	top: 50%;
	transform: translateY(-50%);
}
.logos-bzoj {
	position: relative;
	height: 230px;
}
.logos-bzoj div {
	position: absolute;
	top: 0;
	right: 0;
	width: 100%;
	height: 100%;
	text-align: center;
} */
section#majmo3a-logos {
    overflow: hidden;
	background: url(../img/Nat-Geo-Wild.jpg);
	background-size: cover;
	background-position: top;
}
section#majmo3a-logos li {
    float: right;	/* fe star wa7id */
    width: 20%;	/* bach ikono 5 fe star wa7id 100/5 = 20 */
	border-left: 1px dashed #f05123;	/* border dyal logos */
	border-bottom: 1px dashed #f05123;	/* border dyal logos */
    box-sizing: border-box;	/* bach el border ydzado men da5il dyal misa7a */
	background-color: rgba(255,255,255,0.3);
}
section#majmo3a-logos li:nth-child(2n) {	/* 2n a3dad zawjiya wa 2n+1 a3dad fardiya */
	background-color: rgba(255,255,255,0.4);
}
section#majmo3a-logos li.fox-movies, section#majmo3a-logos li.fox-hd, section#majmo3a-logos li.fox-riwayat {
	border-left: none;
}
section#majmo3a-logos li:nth-child(11), section#majmo3a-logos li:nth-child(12), section#majmo3a-logos li:nth-child(13), section#majmo3a-logos li:nth-child(14), section#majmo3a-logos li:nth-child(15) {
	border-bottom: none;
}
div.logos-bzoj {
    height: 230px;
	position: relative;
}
div.logos-bzoj div {
    position: absolute;
    top: 0;
    right: 0;
	width: 100%;
    height: 100%;
	text-align: center;
}
div.logos-bzoj img {	/* n3awto el image fel wist dyal div li3ando class logo-bzoj*/
    position: relative;
	top: 50%;
    transform: translateY(-50%); 
}
div.logo-color {
    transform: rotateY(180deg);
	backface-visibility: hidden;
	background: white;
	transition: 1s;
}
div.logo-k7al-byad {
	backface-visibility: hidden;
	transition: 1s;
}
div.logos-bzoj:hover div.logo-color {
    transform: rotateY(0);
}
div.logos-bzoj:hover div.logo-k7al-byad {
    transform: rotateY(180deg);
}


/******************** Styles Sctions Ma3lomat TV ************/
section.ma3lomatTv {
    width: 1400px;
    margin: 0 auto;
}
div.textInfo {
    display: inline-block;
    width: 26%;
    vertical-align: top;
    margin-right: 13%;
}
div.imgInfo {
    display: inline-block;
    width: 42%;
	margin-right: 15%;
    vertical-align: top;
    position: relative;
}
img.mota7arika {
    position: absolute;
    top: 100px;
    right: -178px;
}
.textInfo p {
    font-size: 19px;
    line-height: 30px;
    margin-top: 30px;
}
.textInfo img {
    margin-top: 100px;
	max-width: 170px
}
/************** Section Text fe chemal *****/
.textYassar img.mota7arika {
    right: 178px;
}
.textYassar div.imgInfo {
    margin-right: 0;
}
/***************** footer *************/
footer p {
    text-align: center;
    font-weight: bold;
    color: gray;
    margin-top: 30px;
    margin-bottom: 10px;
    font-size: 14px;
}
a.icon-bortokaliya {
    position: fixed;
    bottom: 50px;
    right: 50px;
}
footer {
    position: relative;
}
a.icon-ramadiya {
    position: absolute;
    right: 22%;
    bottom: -10px;
}
a.icon-ramadiya-top {
    position: relative;
    top: 7px;
}
a.icon-ramadiya-top {
    position: relative;
    top: 2px;
    transform: rotate(180deg);
    display: inline-block;
}

div.about-img { 
    display: inline-block;
	vertical-align: top;
}
div.about-txt { 	
    width: 420px;
	vertical-align: top;
	display: inline-block;
	margin-right: 100px;

}	
div.about-txt h1 { 	
     font-weight: bold;
	 font-size: 35px;
     color: #ff4e00;  
	 margin-top: 0px;

	
}	
div.about-txt h2 { 
     font-weight: normal;
	 font-size: 29px;
     color: #ff4e00;
	
	
}	
div.about-txt p { 	
	line-height: 30px;
	font-size: 17px;
}	
	
section.about us 	{
	margin-top: 50px;
}

header   {
	box-shadow: 0 2px 10px #ececec;
	
}	
	
/********************contact us page*******************/

section.contact-us {
	background-color: #fef9f8;  
	padding: 50px 0 80px;
	
}	
	
section.contact-us  h1{	
    font-size: 40px;
	color: #ff4e00;
	text-align: center;
	margin:  5px 0 20px;
	
	
}	
	
section.contact-us  form{	
    width: 700px;
	margin: 0 auto;
	background-color: white;  
	text-align: center;
	padding : 50px 80px;
	box-shadow: 0 0 4px #eae3e3;
	
}	
input,textarea{
	
   display: block;
   width:100%;
   padding: 10px;
   box-sizing: border-box;
   margin:0 0 20px;
   border-radius: 3px;
   border: 1px solid #bbbbbb;
 

}

input[type="submit"] {
    background-color: #ff4e00;
	color: white;
	font-size: 19px;
	padding : 10px 0px ;
	font-weight: bold;
	

}	

::placeholder {
	color: #404040;
	font-size: 16px;
	font-weight: bold;

}	
textarea {
    height: 130px;

}

form img {
	margin-bottom: 25px;

}







	
	
	